@import url(https://fonts.googleapis.com/css?family=Kanit:600);
body {
    height: 100%;
    overflow: hidden;
  }
  .loading-panel {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
  }
  .first.loading-panel {
    left: 0;
    background-image: url("https://cdn.pixabay.com/photo/2016/11/22/23/44/porsche-1851246_960_720.jpg");
  }
  .second.loading-panel {
    right: 0;
      background-image: url("https://cdn.pixabay.com/photo/2015/09/09/20/45/car-933239_960_720.jpg");
  }
  .third.loading-panel {
    right: 0;
    background-image: url("https://cdn.pixabay.com/photo/2021/09/25/10/08/road-6654573_960_720.jpg");
    top:50%;
  }
  .forth.loading-panel {
    top:50%;
    left: 0;
     background-image: url("https://cdn.pixabay.com/photo/2016/11/23/17/16/automobile-1853893_960_720.jpg");
  }


  .text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: azure;
    animation: slide-right 3s;

    font-weight: 500;
  
  }
  /* Animations */
  @keyframes slide-right {
    from { opacity: 0; transform: translateX(-2000%); }
  }

  h2{
    font-weight: 400;
    font-size: 5vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

  h2:hover {
    font-weight: bold;
    color:rgb(255, 94, 0);
   }

